@import "../../../../../common";

.ConfigSystemDialog {
  .contentContainer {
    form {
      > div {
        border-bottom: var(--dark-border);
        padding-bottom: calc(var(--padding) * 4);
      }

      > div:last-child {
        border-bottom: none;
      }
    }
  }
}
