@import "../../../../../common";

.Input {
  padding: var(--padding);
  box-sizing: border-box;
  background-color: var(--input-background-color);
  color: var(--input-color);
  border: var(--border);
}
