{
  "env": {
    "node": true
  },
  "rules": {
    "block-scoped-var": 2,
    "brace-style": [2, "1tbs"],
    "camelcase": 1,
    "curly": 2,
    "eol-last": 2,
    "eqeqeq": [2, "smart"],
    "max-depth": [1, 3],
    "max-statements": [1, 15],
    "max-len": [1, 80],
    "new-cap": 1,
    "no-extend-native": 2,
    "no-mixed-spaces-and-tabs": 2,
    "no-trailing-spaces": 2,
    "no-use-before-define": [2, "nofunc"],
    "no-unused-vars": 1,
    "quotes": [2, "single", "avoid-escape"],
    "semi": [2, "always"],
    "space-after-keywords": [2, "always"],
    "space-unary-ops": 2,
    "max-len": [2, 120, 4],
    "comma-dangle": [2, "never"],
    "no-cond-assign": [2, "always"],
    "no-constant-condition": 2,
    "no-control-regex": 2,
    "no-dupe-args": 2,
    "no-dupe-keys": 2,
    "no-duplicate-case": 2,
    "no-empty-character-class": 2,
    "no-empty": 2,
    "no-ex-assign": 2,
    "no-extra-boolean-cast": 2,
    "no-extra-semi": 2,
    "no-func-assign": 2,
    "no-invalid-regexp": 2,
    "no-irregular-whitespace": 2,
    "no-negated-in-lhs": 2,
    "no-obj-calls": 2,
    "no-regex-spaces": 2,
    "no-sparse-arrays": 2,
    "no-unreachable": 2,
    "use-isnan": 2,
    "valid-jsdoc": 2,
    "valid-typeof": 2,
    "no-unexpected-multiline": 2,
    "key-spacing": [2, {"beforeColon": true, "afterColon": true}],
    "block-scoped-var": 2,
    "default-case": 2,
    "consistent-return": 2,
    "dot-notation": 2,
    "dot-location": [2, "object"],
    "guard-for-in": 2,
    "no-alert": 2,
    "no-div-regex": 2,
    "no-else-return": 2,
    "no-extend-native": 2,
    "no-fallthrough": 2,
    "no-iterator": 2,
    "no-implied-eval": 2,
    "no-floating-decimal": 2,
    "no-loop-func": 2,
    "no-multi-spaces": 2,
    "no-new": 2,
    "no-new-func": 2,
    "no-native-reassign": 2,
    "no-param-reassign": 2,
    "no-process-env": 2,
    "no-redeclare": 2,
    "no-return-assign": 2,
    "no-script-url": 2,
    "no-self-compare": 2,
    "no-sequences": 2,
    "no-throw-literal": 2,
    "no-unused-expressions": 2,
    "vars-on-top": 2,
    "yoda": 2,
    "strict": [2, "global"],
    "no-shadow": 2,
    "no-undef": 2,
    "no-unused-vars": 2,
    "no-use-before-define": [2, "nofunc"],
  },
  "ecmaFeatures": {
    "blockBindings": true,
    "global-require": 2,
    "handle-callback-err": 2,
    "no-path-concat": 2,
    "no-process-exit": 2,
    "no-sync": 2,
    "arrow-parens": [2, "always"],
    "arrow-spacing": 2,
    "no-class-assign": 2,
    "no-const-assign": 2,
    "no-dupe-class-members": 2,
    "no-this-before-super": 2,
    "no-var": 2,
    "object-shorthand": 2,
    "prefer-const": 2,
    "prefer-template": 2,

  }
}
