@import "../../../../../../common";

.DocFileItem {
  position: relative;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: fit-content(100%) minmax(auto, 30em) fit-content(100%);
  align-items: center;
  grid-gap: $padding * 2;

  .by {
    line-height: $item-icon-size;
    overflow: hidden;
  }
}

.DocFileItem.header {
  border-bottom: $border;
  margin-top: -#{$padding};
  position: sticky;
  top: calc(1.95em);
  z-index: 2;
  background-color: $second-background-color;

  .icon, .by, svg {
    height: unset;
  }

  .by {
    line-height: unset;
  }

  svg {
    max-height: $icon-size - .1em;
    max-width: $icon-size - .1em;
  }
}
