@import "../../../../../common";

.TopBar {
  border-bottom: $border;
  background-color: $color;
  color: $background-color;
  font-weight: bold;
  text-transform: uppercase;
  padding: $padding;
  cursor: move;
  height: 1em;
  text-shadow: $text-shadow;
  display: flex;
  align-items: flex-end;

  .TopBarHandle {
    width: 100%;
  }

  .Button {
    background-color: $color;
    border: none;
    box-shadow: none;
    color: $background-color;
    padding: 0;
  }

  svg {
    height: 16px;
    width: 16px;
    fill: $background-color;
    stroke-width: 3;
  }

  .buttons {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 1em;
    grid-gap: #{$margin * 2};
  }

  .title {
    margin-left: auto;
  }
}
