@import "../../../../../common";

.TopBar {
  background-color: var(--color);
  color: var(--background-color);
  font-weight: bold;
  text-transform: uppercase;
  padding: 0 var(--padding);
  cursor: move;
  text-shadow: var(--text-shadow);
  display: grid;
  align-items: flex-end;
  grid-template-columns: auto fit-content(100%);

  .title {
    display: grid;
    grid-auto-flow: column;
    grid-gap: var(--padding);
    align-items: center;
  }

  .TopBarHandle {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
    display: flex;
    align-items: flex-end;
    height: 100%;
  }

  .buttons {
    display: grid;
    grid-auto-columns: fit-content(0);
    grid-auto-flow: column;
    grid-gap: calc(var(--margin) * 2);
    justify-items: flex-end;

    > .Button {
      background-color: transparent;
      border: none;
      box-shadow: none;
      padding: 0;
      color: var(--background-color);
    }

    .close {
      svg {
        max-height: calc(var(--icon-size) + .2em);
        max-width: calc(var(--icon-size) + .2em);
      }
    }
  }

  > * {
    padding-bottom: var(--padding);
  }
}
