@import "../../../../../common";

.TopBar {
  background-color: $color;
  color: $background-color;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0 $padding;
  cursor: move;
  text-shadow: $text-shadow;
  display: grid;
  align-items: flex-end;
  grid-template-columns: auto fit-content(100%);

  .TopBarHandle {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
    display: flex;
    align-items: flex-end;
    height: 100%;
  }

  .buttons {
    display: grid;
    grid-auto-columns: fit-content(0);
    grid-auto-flow: column;
    grid-gap: #{$margin * 2};
    justify-items: flex-end;

    > .Button {
      background-color: transparent;
      border: none;
      box-shadow: none;
      padding: 0;
      color: $background-color;
    }

    .close {
      svg {
        max-height: $icon-size + .1em;
        max-width: $icon-size + .1em;
      }
    }
  }

  > * {
    padding-bottom: $padding;
  }
}
