@import "../../../common";

#MenuBar {
  display: flex;
  flex-direction: row;
  padding-top: #{$padding / 2};
  padding-left: $padding;
  padding-right: $padding;
  color: $second-color;
  min-height: $menu-bar-height;
  border-bottom: $border;
  background-color: $light-background-color;
  box-sizing: border-box;
  margin-bottom: $margin;
  align-items: center;
  box-shadow: $shadow;
  z-index: $menu-bar-z-index;

  .List {
    .dropdown {
      max-height: calc(100vh - #{2em + $padding});
      overflow-y: auto;
      scrollbar-width: none;
    }

    header, .Button {
      border-bottom: none;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  > * {
    margin-right: $margin * 2;
  }

  svg {
    height: 16px;
    width: 16px;
    vertical-align: middle;
  }

  .Clock {
    margin-left: auto
  }

  .OpenApps {
    ul {
      display: flex;
      flex-direction: row;

      > * {
        margin-right: $margin * 2;
      }
    }
  }
}

.warning {
  background-color: $warning-background-color !important;
}
