@import "../../../common";

#MenuBar {
  display: flex;
  flex-direction: row;
  color: var(--second-color);
  height: var(--menu-bar-height);
  border-bottom: var(--border);
  background-color: var(--light-background-color);
  box-sizing: border-box;
  align-items: flex-end;
  box-shadow: var(--shadow);
  z-index: var(--menu-bar-z-index);
  margin-bottom: calc(var(--padding) / 2);
  padding: 0 var(--padding);

  .MainList, .OpenApps > div, .rightAligned > div {
    .dropdown {
      max-height: calc(100vh - 2em + var(--padding));
      overflow-y: auto;
      scrollbar-width: none;
    }

    > header, > .Button:first-child {
      border: none;
      box-shadow: none;
      background-color: transparent;
    }

    > header {
      svg {
        max-height: calc(var(--icon-size) + .2em);
        max-width: calc(var(--icon-size) + .2em);
      }
    }
  }

  > * {
    margin-right: calc(var(--margin) * 2);
  }

  .rightAligned {
    margin-left: auto;
    display: grid;
    grid-auto-flow: column;
    grid-gap: calc(var(--padding) * 2);
    margin-right: 0;

    .IdentityPicker {
      header {
        border: none;
        box-shadow: none;
      }
    }
  }

  .helpOverlay {
    top: var(--menu-bar-height);
    height: calc(100% - var(--menu-bar-height));
  }
}

.miniMenu {
  position: absolute;
  right: 0;
  top: calc(var(--menu-bar-height) + var(--menu-bar-height) / 2);
  z-index: var(--dropdown-z-index);
  opacity: .75;

  .Button {
    padding: 0;

    svg {
      max-width: calc(var(--icon-size) - .2em);
      max-height: calc(var(--icon-size) - .2em);
    }
  }
}

.miniMenu.minimize {
  top: var(--menu-bar-height);
  z-index: 1;
  opacity: .5;

  .Button {
    border: none;
  }
}

.warning {
  background-color: var(--warning-background-color) !important;
}

//@media (orientation: landscape) {
//  #MenuBar {
//    flex-direction: column;
//    border-bottom: none;
//    border-right: var(--border);
//    height: 100%;
//    width: var(--menu-bar-height);
//
//    .rightAligned {
//      grid-auto-flow: row;
//    }
//  }
//}
