@import "../../../common";

#MenuBar {
  display: flex;
  flex-direction: row;
  padding-top: #{$padding / 2};
  padding-left: $padding;
  color: $second-color;
  height: $menu-bar-height;
  border-bottom: $border;
  background-color: $light-background-color;
  box-sizing: border-box;
  margin-bottom: $margin;
  align-items: flex-end;
  box-shadow: $shadow;
  z-index: $menu-bar-z-index;

  .List {
    .dropdown {
      max-height: calc(100vh - #{2em + $padding});
      overflow-y: auto;
      scrollbar-width: none;
    }

    header, .Button {
      border-bottom: none;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  > * {
    margin-right: $margin * 2;
  }

  > *:last-child {
    margin-right: 0;
  }

  svg {
    height: $icon-size;
    width: $icon-size;
    vertical-align: middle;
  }

  .rightAligned {
    margin-left: auto;
    display: grid;
    grid-auto-flow: column;
    grid-gap: $padding * 2;
  }

  .Clock {
    .Button {
      border-bottom: none;
      border-right: none;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
      border-top-right-radius: 0;
    }
  }

  .OpenApps {
    ul {
      grid-auto-flow: column;
      grid-template-columns: unset;
      grid-gap: $padding * 2;
    }

    .ListItem {
      padding: 0;
    }
  }
}

.warning {
  background-color: $warning-background-color !important;
}
