@import "../../../common";

#MenuBar {
  display: flex;
  flex-direction: row;
  color: $second-color;
  height: $menu-bar-height;
  border-bottom: $border;
  background-color: $background-color;
  box-sizing: border-box;
  align-items: flex-end;
  box-shadow: $shadow;
  z-index: $menu-bar-z-index;
  margin-bottom: $padding / 2;
  padding: 0 $padding;

  .MainList, .OpenApps > div, .rightAligned > div {
    .dropdown {
      max-height: calc(100vh - #{2em + $padding});
      overflow-y: auto;
      scrollbar-width: none;
    }

    > header, > .Button:first-child {
      border-bottom: none;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }

    > header {
      svg {
        max-height: $icon-size + .2em;
        max-width: $icon-size + .2em;
      }
    }
  }

  > * {
    margin-right: $margin * 2;
  }

  .rightAligned {
    margin-left: auto;
    display: grid;
    grid-auto-flow: column;
    grid-gap: $padding * 2;
    margin-right: 0;

    > .Button {
      border-bottom: none;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  .helpOverlay {
    top: $menu-bar-height;
    height: calc(100% - #{$menu-bar-height});
  }
}

.miniMenu {
  position: absolute;
  right: 0;
  top: $menu-bar-height + $menu-bar-height / 2;
  z-index: $dropdown-z-index;
  opacity: .75;

  .Button {
    padding: 0;

    svg {
      max-width: $icon-size - .2em;
      max-height: $icon-size - .2em;
    }
  }
}

.miniMenu.minimize {
  top: $menu-bar-height;
  z-index: 1;
  opacity: .5;

  .Button {
    border: none;
  }
}

.warning {
  background-color: $warning-background-color !important;
}

//@media (orientation: landscape) {
//  #MenuBar {
//    flex-direction: column;
//    border-bottom: none;
//    border-right: $border;
//    height: 100%;
//    width: $menu-bar-height;
//
//    .rightAligned {
//      grid-auto-flow: row;
//    }
//  }
//}
