@import "../../../common";

#MenuBar {
  display: flex;
  flex-direction: row;
  color: $second-color;
  height: $menu-bar-height;
  border-bottom: $border;
  background-color: $background-color;
  box-sizing: border-box;
  align-items: flex-end;
  box-shadow: $shadow;
  z-index: $menu-bar-z-index;
  margin-bottom: $padding / 2;

  .MainList {
    header {
      border-left: none;
    }
  }

  .MainList, .OpenApps > div, .rightAligned > div {
    .dropdown {
      max-height: calc(100vh - #{2em + $padding});
      overflow-y: auto;
      scrollbar-width: none;
    }

    > header, > .Button {
      border-bottom: none;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }

    > header {
      height: $icon-size;

      svg {
        max-height: $icon-size;
        max-width: $icon-size;
      }
    }
  }

  > * {
    margin-right: $margin * 2;
  }

  .rightAligned {
    margin-left: auto;
    display: grid;
    grid-auto-flow: column;
    grid-gap: $padding * 2;
    margin-right: 0;

    .Clock {
      .icon {
        padding-right: 0;
      }
    }

    > .Button {
      border-bottom: none;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  .helpOverlay {
    top: $menu-bar-height;
    height: calc(100% - #{$menu-bar-height});
  }
}

.miniMenu {
  position: absolute;
  right: 0;
  top: 0;
  z-index: $dropdown-z-index;
  opacity: 1;

  .Button {
    padding: 0;

    svg {
      max-width: $icon-size - .2em;
      max-height: $icon-size - .2em;
    }
  }
}

.miniMenu.minimize {
  top: $menu-bar-height;
  z-index: 1;
  opacity: .5;

  .Button {
    border: none;
  }
}

.warning {
  background-color: $warning-background-color !important;
}
