@import "../../../../../common";

.IdentityPicker {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: fit-content(100%);

  .dropdown {
    max-width: 100%;
  }

  .List {
    background-color: var(--light-background-color);
  }

  svg {
    min-width: var(--icon-size);
    min-height: var(--icon-size);
    max-width: var(--icon-size);
    max-height: var(--icon-size);
  }

  span {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  header {
    max-width: 6em;
    align-items: flex-end;
  }
}
