@import "../../../../../common";

.IdentityPicker {
  background-color: $light-background-color;

  .dropdown {
    max-width: 100%;
  }

  svg {
    min-width: $icon-size;
    min-height: $icon-size;
    max-width: $icon-size;
    max-height: $icon-size;
  }

  span {
    margin-left: $padding;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  header {
    display: flex;
    max-width: 8em;
    align-items: flex-end;
  }
}
