@import "../../../../../common";

.IdentityPicker {
  position: relative;
  background-color: $light-background-color;

  .dropdown {
    min-width: 100%;
  }

  svg {
    max-width: $icon-size;
    max-height: $icon-size;
  }

  span {
    margin-left: $padding;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  header {
    display: flex;
    max-width: 10em;
    align-items: flex-end;
  }
}
