@import "../../../common";

#main {
  position: relative; /* Needed for react-draggable. It will assume main is the parent */
  background-color: $background-color;
  height: calc(100% - 2.2em);
  width: 100%;
}
