@import "../../../../../../common";

.ImageUpload {
  .Button {
    position: relative;
  }

  .previewImage {
    position: absolute;
    max-height: 120px;
    max-width: 120px;
    bottom: 1em + $padding * 2;
    border: $border;
    left: -1px;

    div {
      position: absolute;
      top: 0;
      right: 0;
      padding-right: 0;
      padding-top: 0;
      border: 0;
      box-shadow: none;
      background-color: $second-background-color;
    }

    img {
      opacity: 0.25;
      max-height: inherit;
      max-width: inherit;
    }
  }
}
