<!doctype html>
<html lang="en" id="html">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="format-detection" content = "telephone=no">
  <meta property="og:title" content="Rolehaven" />
  <meta property="og:description" content="Tools and games for all your roleplaying needs." />
  <meta property="og:image" content="https://thethirdgift.com/images/facebookImage.png" />
  <link rel="stylesheet" type="text/css" href="{{mainCss}}"/>
  <title>{{title}}</title>
</head>
<body>
<div id="main">
  <span>Default site. </span>
</div>
<script src={{socketPath}} defer></script>
<script src="{{mainJs}}" defer></script>
<script src="https://maps.googleapis.com/maps/api/js?key={{gMapsKey}}&libraries=geometry" defer></script>
<script src="scripts/maplabel.js" defer></script>
<script src="scripts/markerclusterer.js" defer></script>
</body>
</html>
