@import '../../../../../common';

.Button {
  display: grid;
  grid-auto-columns: fit-content(100%);
  grid-auto-flow: column;
  align-items: center;
  justify-items: center;
  grid-gap: var(--padding);
  border: var(--border);
  border-radius: var(--border-radius);
  padding: var(--padding);
  box-sizing: border-box;
  background-color: var(--light-background-color);
  color: var(--second-color);
  box-shadow: var(--shadow);

  > .Image {
    > img {
      max-height: var(--icon-size);
      max-width: var(--icon-size);
      vertical-align: middle;
    }
  }

  > svg {
    max-height: var(--icon-size);
    max-width: var(--icon-size);
    vertical-align: middle;
  }
}

.Button:disabled {
  text-shadow: var(--warning-text-shadow);
  background-color: var(--warning-background-color);
}

.Button.active {
  color: var(--second-color) !important;
}
