@import '../../../../../common';

.Button {
  display: grid;
  grid-auto-columns: fit-content(100%);
  grid-auto-flow: column;
  align-items: center;
  justify-content: center;
  grid-gap: $padding;
  border: $border;
  border-radius: $border-radius;
  padding: $padding;
  box-sizing: border-box;
  background-color: $light-background-color;
  color: $second-color;
  box-shadow: $shadow;

  > .Image {
    > img {
      max-height: $icon-size;
      max-width: $icon-size;
      vertical-align: middle;
    }
  }

  > svg {
    max-height: $icon-size;
    max-width: $icon-size;
    vertical-align: middle;
  }
}

.Button:disabled {
  text-shadow: $warning-text-shadow;
  background-color: $warning-background-color;
}

.Button.active {
  border-color: $second-color !important;
  color: $second-color !important;
}
