html {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #151e15;
}

body {
    margin: 0;
    color: #00FF00;
    font-family: monospace;
    font-size: 1.2em;
    letter-spacing: .05em;
    white-space: pre-wrap;
    overflow: hidden;
    -webkit-text-size-adjust: 100%;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 1.4em;
    overflow-x: hidden;
}

li {
    word-wrap: break-word;
    padding: 0 .5em 0 .5em;
}

pre {
    padding: 0;
    margin: 0;
}

#inputContainer {
    display: table;
    width: 99%;
}

#inputContainer span {
    display: table-cell;
}

#inputStart {
    padding-left: .5em;
    width: 1px;
}

#cmdInput {
    border: 0;
    font-size: inherit;
    font-family: inherit;
    vertical-align: baseline;
    color: inherit;
    background-color: transparent;
    width: 100%;
    display: table-cell;
    padding-left: .3em;
}

#cmdInput:focus {
    outline: 0
}

#overlay {
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

#marker {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /* Needed to hide caret. */
    color: transparent;
    width: .8em;
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 0;
    text-align: center;
    background-color: #00FF00;
}

#marker:focus {
    outline: 0;
}

#mode {
    width: 1px;
}

#mode:after {
    content: '$';
}

#mainFeed li span {
    margin-right: .5em;
}

#mainFeed li span:last-child {
    margin: 0;
}

#hiddenInput {
    visibility: hidden;
    border: 0;
}

.boxShadow {
    -webkit-box-shadow: inset 0 0 25px 1px #000000;
    box-shadow: inset 0 0 25px 1px #000000;
}

.blinkAnim {
    -webkit-animation: blinking 1s step-end infinite;
    animation: blinking 1s step-end infinite;
}

.link {
    font-weight: bold;
    cursor: pointer;
}

.logo {
    white-space: pre;
    line-height: 1.2;
    letter-spacing: 0;
    text-transform: uppercase;
    word-wrap: normal;
}

.importantMsg {
    color: #151e15;
    background-color: #00FF00;
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

.large {
    font-size: 2em;
}

.bold {
    font-weight: bold;
}

.anon {
    font-size: 0.2em;
}

.room {
    font-weight: bold;
}

.room:after {
    content: '>';
}

.user {
    font-weight: bold;
}

.user:after {
    content: ':';
}

/*
 * For Android in full screen when the keyboard is shown
 * Virtual keyboard blocks part of the view
 */
.keyboardFix {
    height: 50vh;
}

/*
 * For Android in full screen when the keyboard isn't shown.
 * Virtual buttons blocks the input field
 */
.fullFix {
    height: 7vh;
}

.fullscreen {
    overflow: scroll;
}

.red {
    color: #ff0000;
    background-color: #1e1211;
}

.blue {
    color: #0000ff;
    background-color: #14131e;
}

.upperCase {
    text-transform: uppercase;
}

@-webkit-keyframes blinking {
    from {
        background-color: transparent;
        color: #00FF00;
    }
    50% {
        background-color: #00FF00;
    }
}

@keyframes blinking {
    from {
        background-color: transparent;
        color: #00FF00;
    }
    50% {
        background-color: #00FF00;
    }
}

@media (max-height: 768px) and (max-width: 1024px) {
    body {
        overflow: scroll;
    }
}

@media (max-width: 736px) {
    .logo {
        font-size: .8em;
    }
}

@media (max-width: 414px) {
    .logo {
        font-size: .6em;
    }
}

@media (max-height: 414px) and (max-width: 736px) , (max-height: 736px) and (max-width: 414px) {
    .feed {
        padding-left: .1em;
        padding-right: .1em;
    }
}
