$text-color: #00ffcc;
$shadow-color: #008766;
$back-color: #001e15;
$sub-text-color: #ff0026;
$sub-shadow-color: #870016;
$sub-back-color: #1e0100;
$imp-text-color: #002d25;
$imp-back-color: #00ffcc;

html {
  margin: 0;
  padding: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  background-color: $back-color;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  padding: 0;
  margin: 0;
  background-color: $back-color;
  color: $text-color;
  text-shadow: 1px 1px 4px $shadow-color;
  font-family: monospace;
  font-size: 1.2em;
  letter-spacing: .05em;
  -webkit-text-size-adjust: 100%;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1.4em;
  overflow-x: hidden;
}

li {
  word-wrap: break-word;
}

pre {
  padding: 0;
  margin: 0;
}

#background {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 20;
  background-color: $back-color;
}

#menu {
  width: 100%;
  position: fixed;
  z-index: 30;
  top: 0;
  background-color: $back-color;
  border-bottom: 2px solid;

  li {
    padding: .4em 0 .4em 0;
    margin-right: 1em;
    float: left;
  }

  li:last-child {
    margin-right: 0;
  }
}

#menuList {
  padding: 0 .2em 0 .8em;
}

#inputContainer {
  overflow: hidden;
  padding: 0 .8em 0 .8em;
  display: table;
  width: 99%;

  span {
    display: table-cell;
  }
}

#inputStart {
  width: 1px;
  white-space: pre;
}

#cmdInput {
  border: 0;
  font-size: inherit;
  font-family: inherit;
  vertical-align: baseline;
  color: inherit;
  background-color: transparent;
  width: 100%;
  display: table-cell;
  padding-left: .3em;
}

#cmdInput:focus {
  outline: 0;
}

#mode {
  width: 1px;
}

#mode:after {
  content: '$';
}

#mainFeed {
  overflow: hidden;
  padding-top: 2em;

  li {
    padding: 0 .8em 0 .8em;
  }

  li span {
    margin-right: .5em;
  }

  li span:last-child {
    margin: 0;
  }
}

#map {
  overflow: hidden;
  background-color: #00865e;

  a {
    display: none;
  }

  > div {
    display: none
  }

  > div:first-child {
    display: inherit;
    top: 2em !important;

    > div {
      display: none;
    }

    div:first-child {
      display:inherit;
    }
  }
}

#spacer {
  height: .4em;
}

#central {
  position: fixed;
  top: 2em;
}

#markerInfo {
  font-size: .8em;
  font-weight: bold;
  text-shadow: none;
  position: absolute;
  border: solid 1px;
  padding: 0.1em;
  background-color: $back-color;
  z-index: 10;
  max-width: 15em;
}

.halfView {
  position: fixed;
  right: 0;
  bottom: 0;
}

.halfWidth {
  width: 50% !important;
  height: 100% !important;
}

.halfHeight {
  height: 50% !important;
  width: 100% !important;
}

.menuBottomPadding {
  padding-bottom: 1.7em;
}

.baseSubliminal {
  position: relative;
  width: 100%;
}

.baseSubliminalBefore {
  content: attr(subMsg);
  position: absolute;
  left: 0;
  padding-left: .8em;
  width: 100%;
  background-color: $sub-back-color;
  color: $sub-text-color;
  text-shadow: 1px 1px 4px $sub-shadow-color;
  opacity: 0;
}

.subliminal {
  @extend .baseSubliminal;
}

.subliminal:before {
  @extend .baseSubliminalBefore;
  -webkit-animation: brightness 16s linear infinite 6s;
  animation: brightness 16s linear infinite 6s;
}

.subliminalFast {
  @extend .baseSubliminal;
}

.subliminalFast:before {
  @extend .baseSubliminalBefore;
  -webkit-animation: brightness 14s linear infinite 4s;
  animation: brightness 14s linear infinite 4s;
}

.subliminalSlow {
  @extend .baseSubliminal;
}

.subliminalSlow:before {
  @extend .baseSubliminalBefore;
  -webkit-animation: brightness 18s linear infinite 8s;
  animation: brightness 18s linear infinite 8s;
}

.subliminalInstant {
  @extend .baseSubliminal;
}

.subliminalInstant:before {
  @extend .baseSubliminalBefore;
  opacity: 1;
  -webkit-animation: instantBrightness 1s linear 1;
  -webkit-animation-fill-mode: forwards;
  animation: instantBrightness 1s linear 1;
  animation-fill-mode: forwards;
}

.importantMsg {
  color: $imp-text-color;
  text-shadow: none;
  background-color: $imp-back-color;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}

.broadcastMsg {
  font-weight: bold;
}

.link {
  font-weight: bold;
  cursor: pointer;
}

.logo {
  white-space: pre;
  line-height: 1.2;
  letter-spacing: 0;
  text-transform: uppercase;
  word-wrap: normal;
}

.large {
  font-size: 2em;
}

.anon {
  font-size: 0.2em;
}

.room:after {
  content: '>';
}

.user {
  font-weight: bold;
}

.user:after {
  content: ':';
}

/*
 * For Android in full screen when the keyboard is shown
 * Virtual keyboard blocks part of the view
 */
.keyboardFix {
  height: 50vh;
}

/*
 * For Android in full screen when the keyboard isn't shown.
 * Virtual buttons blocks the input field
 */
.fullFix {
  height: 7vh;
}

.fullscreen {
  overflow-y: scroll !important;
}

.upperCase {
  text-transform: uppercase;
}

.menuButton {
  padding: 0 .2em 0 .2em;
  border-left: 2px solid;
  border-right: 2px solid;
}

.hideCursor {
  cursor: none;
}

.hide {
  display: none;
}

.invisible {
  visibility: hidden;
}

.thinner {
  margin-left: 3em;
  margin-right: 3em;
}

.subMenu {
  position: fixed;
  margin-left: -.4em;
  margin-top: .4em;
  z-index: 20;
  background-color: #001e15;
  border-bottom: 2px solid;
  border-left: 2px solid;
  border-right: 2px solid;
  padding: 0 .4em 0 .4em;
}

@media (max-width: 736px) {
  #spacer {
    height: .2em;
  }

  #mainFeed li {
    padding: 0 .4em 0 .4em;
  }

  #inputContainer {
    padding: 0 .4em 0 .4em;
  }

  #menuList {
    padding-left: .2em;
  }

  .logo {
    font-size: .8em;
  }

  .glitch:before {
      padding-left: .4em;
  }
}

@media (max-width: 414px) {
  #spacer {
    height: .1em;
  }

  #mainFeed li {
    padding: 0 .2em 0 .2em;
  }

  #menuList {
    padding-left: .2em;
  }

  #inputContainer {
    padding: 0 .2em 0 .2em;
  }

  .logo {
    font-size: .6em;
  }

  .glitch:before {
    padding-left: .2em;
  }
}

@media (max-height: 414px) and (max-width: 736px) , (max-height: 736px) and (max-width: 414px) {
}

@-webkit-keyframes brightness {
  from {
    opacity: 0;
  }
  1% {
    opacity: 1;
  }
  3% {
    opacity: 1;
  }
  4% {
    opacity: 0;
  }
}

@keyframes brightness {
  from {
    opacity: 0;
  }
  1% {
    opacity: 1;
  }
  3% {
    opacity: 1;
  }
  4% {
    opacity: 0;
  }
}

@-webkit-keyframes instantBrightness {
  from {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
    display: none;
  }
}

@keyframes instantBrightness {
  from {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
    display: none;
  }
}
