@import "../../../../common";

.rnd {
  box-shadow: $dark-shadow;
  box-sizing: border-box;
  overscroll-behavior-y: none;

  .Window {
    display: grid;
    grid-template-rows: fit-content(0) auto;
    box-shadow: $shadow;
    background-color: $second-background-color;
    height: calc(100% - 1px);
    border: $border;
    color: $second-color;
    text-shadow: $text-shadow;
    border-radius: $border-radius;
    box-sizing: border-box;
    overflow: hidden;

    .windowBox {
      overflow: hidden;
      display: grid;
      grid-template-rows: fit-content(0) auto;
      grid-template-columns: 100%;
      height: 100%;
      position: relative;

      .InputArea {
        padding: 0 $padding;
      }

      .menu {
        background-color: $second-background-color;
        display: flex;
        flex-direction: row;
        box-sizing: border-box;
        padding: 0 $padding;

        .List {
          margin-bottom: $margin;
          margin-right: $margin;
          flex-grow: 1;

          header {
            border-top-right-radius: 0;
            border-top-left-radius: 0;
            border-top: 0;
            width: 100%;
            box-sizing: border-box;

            svg {
              max-width: $icon-size - .2em;
              max-height: $icon-size - .2em;
            }
          }

          .dropdown {
            left: 0;
            width: 100%;
            max-height: calc(100% - #{1em + $margin * 4});
          }
        }

        .List:last-child {
          margin-right: 0;
        }
      }

      .content {
        height: 100%;
        width: 100%;
        overflow: hidden;
        padding: $padding;
        box-sizing: border-box;
        scrollbar-width: none;
        scroll-behavior: smooth;
      }
    }
  }
}

.rnd[min-width~="600px"] {
  .Chat, .Wallet, .WorldMap {
    .windowBox {
      grid-template-rows: 1fr;
      grid-template-columns: fit-content(100%) auto;
      grid-gap: $padding;

      .InputArea {
        padding-left: 0;
      }

      .menu {
        display: grid;
        grid-auto-rows: fit-content(100%);
        grid-gap: $margin;
        height: 100%;
        scrollbar-width: none;
        overflow: hidden;
        padding: 0;

        .List {
          margin: 0;
          display: flex;
          flex-direction: column;
          flex-grow: inherit;
          overflow: hidden;
          width: 11em;
          max-width: 100%;
          padding-left: $padding;

          header {
            border-top-left-radius: $border-radius;
            border-top-right-radius: $border-radius;
            border-top: $border;
            justify-content: flex-start;
          }

          .List {
            padding: 0 $padding;
          }

          .dropdown {
            left: inherit;
            width: initial;
            max-height: 100%;
          }

          ul {
            position: relative;
            box-shadow: none;
          }
        }

        .List:first-child {
          margin-top: $margin;
        }

        .List:last-child {
          margin-bottom: $margin;
        }

        .expanded {
          ul {
            border-top-right-radius: 0;
          }
        }
      }
    }
  }
}
