@import "../../../../common";

.rnd {
  box-shadow: var(--dark-shadow);
  box-sizing: border-box;
  overscroll-behavior-y: none;

  .Window {
    display: grid;
    grid-template-rows: fit-content(0) auto;
    box-shadow: var(--shadow);
    background-color: var(--second-background-color);
    height: calc(100% - 1px);
    border: var(--border);
    color: var(--second-color);
    text-shadow: var(--text-shadow);
    border-radius: var(--border-radius);
    box-sizing: border-box;
    overflow: hidden;

    .windowBox {
      overflow: hidden;
      display: grid;
      grid-template-columns: 100%;
      height: 100%;
      position: relative;

      .InputArea {
        padding: 0 var(--padding);
      }

      .menu {
        background-color: var(--second-background-color);
        display: flex;
        flex-direction: row;
        box-sizing: border-box;
        padding: 0 var(--padding);

        > .List {
          margin-bottom: var(--padding);
          margin-right: var(--padding);
          flex-grow: 1;

          > header {
            border-top-right-radius: 0;
            border-top-left-radius: 0;
            border-top: 0;
            width: 100%;
            box-sizing: border-box;
          }

          .dropdown {
            left: 0;
            width: 100%;
            max-height: calc(100% - 1em);
          }
        }

        > .List:last-child {
          margin-right: 0;
        }
      }

      .content {
        height: 100%;
        width: 100%;
        overflow: hidden;
        padding: var(--padding);
        box-sizing: border-box;
        scrollbar-width: none;
        scroll-behavior: smooth;
      }
    }
  }

  .Window.wide.hasMenu {
    grid-template-columns: fit-content(100%) auto;
    grid-column-gap: calc(var(--padding) * 2);

    .menu {
      display: grid;
      grid-auto-rows: fit-content(100%);
      grid-gap: var(--padding);
      height: 100%;
      scrollbar-width: none;
      overflow: hidden;
      padding: 0;
      grid-row: 1 / 3;

      > .List {
        margin: 0;
        display: flex;
        flex-direction: column;
        flex-grow: inherit;
        overflow: hidden;
        width: 11em;
        max-width: 100%;
        padding-left: var(--padding);

        > header {
          border-top-left-radius: var(--border-radius);
          border-top-right-radius: var(--border-radius);
          border-top: var(--border);
          justify-content: flex-start;
        }

        .dropdown {
          left: inherit;
          width: initial;
          max-height: 100%;
        }

        ul {
          position: relative;
          box-shadow: none;
        }
      }

      > .List:first-child {
        margin-top: var(--padding);
      }

      > .List:last-child {
        margin-bottom: var(--padding);
      }

      .expanded {
        ul {
          border-top-right-radius: 0;
        }
      }
    }
  }
}
//
//.rnd[min-width~="600px"] {
//  .Chat, .Wallet, .WorldMap {
//    .windowBox {
//      grid-template-rows: 1fr;
//      // grid-template-columns: fit-content(100%) auto;
//      grid-gap: var(--padding);
//
//      .InputArea {
//        padding-left: 0;
//      }
//
//      .menu {
//        display: grid;
//        grid-auto-rows: fit-content(100%);
//        grid-gap: var(--padding);
//        height: 100%;
//        scrollbar-width: none;
//        overflow: hidden;
//        padding: 0;
//
//        > .List {
//          margin: 0;
//          display: flex;
//          flex-direction: column;
//          flex-grow: inherit;
//          overflow: hidden;
//          width: 11em;
//          max-width: 100%;
//          padding-left: var(--padding);
//
//          > header {
//            border-top-left-radius: var(--border-radius);
//            border-top-right-radius: var(--border-radius);
//            border-top: var(--border);
//            justify-content: flex-start;
//          }
//
//          .dropdown {
//            left: inherit;
//            width: initial;
//            max-height: 100%;
//          }
//
//          ul {
//            position: relative;
//            box-shadow: none;
//          }
//        }
//
//        > .List:first-child {
//          margin-top: var(--padding);
//        }
//
//        > .List:last-child {
//          margin-bottom: var(--padding);
//        }
//
//        .expanded {
//          ul {
//            border-top-right-radius: 0;
//          }
//        }
//      }
//    }
//  }
//}
