@import "../../../../common";

.rnd {
  box-shadow: $dark-shadow;
  animation: reveal;
  animation-iteration-count: 1;
  animation-duration: .8s;

  .Window {
    display: flex;
    flex-direction: column;
    box-shadow: $shadow;
    background-color: $second-background-color;
    height: 100%;
    border: $border;
    color: $second-color;
    text-shadow: $text-shadow;
    border-radius: $border-radius;
    box-sizing: border-box;

    .windowBox {
      display: grid;
      grid-template-rows: fit-content(0) auto;
      grid-template-columns: 100%;
      height: calc(100% - 1em - #{$margin * 2});
      position: relative;

      .menu {
        background-color: $second-background-color;
        display: flex;
        flex-direction: row;
        margin-bottom: #{$margin * 2};
        height: #{1em + $margin * 2 + .1em};
        max-height: inherit;
        padding: $padding;
        box-sizing: border-box;

        .List {
          margin-right: $margin;
          flex-grow: 1;

          .dropdown {
            left: 0;
            width: 100%;
            max-height: calc(100% - #{1em + $margin * 2 + .1em});
          }
        }

        .List:last-child {
          margin-right: 0;
        }
      }

      .content {
        height: 100%;
        width: 100%;
        overflow: hidden;
        padding: $padding;
        box-sizing: border-box;
      }
    }
  }

  .Window[min-width~="600px"] {
    .windowBox {
      grid-template-rows: 1fr;
      grid-template-columns: minmax(0, 10em) minmax(min-content, 100%);

      .menu {
        display: grid;
        grid-auto-rows: fit-content(100%);
        grid-gap: #{$margin * 2};
        height: 100%;
        margin-right: $margin;
        scrollbar-width: none;
        overflow: hidden;

        .List {
          display: flex;
          flex-direction: column;
          flex-grow: inherit;
          margin-right: 0;
          overflow: hidden;

          .dropdown {
            left: inherit;
            width: inherit;
            max-height: 100%;
          }

          ul {
            position: relative;
            box-shadow: none;
          }
        }

        .expanded {
          ul {
            border-top-right-radius: 0;
          }
        }
      }
    }
  }
}

@keyframes reveal {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
