@import "../../../../common";

.rnd {
  box-shadow: $dark-shadow;
  animation: reveal;
  animation-iteration-count: 1;
  animation-duration: .8s;
}

.window {
  display: flex;
  flex-direction: column;
  box-shadow: $shadow;
  background-color: $second-background-color;
  height: 100%;
  border: $border;
  color: $second-color;
  text-shadow: $text-shadow;
  border-radius: $border-radius;

  .windowBox {
    display: flex;
    flex-direction: column;
    padding: $padding;
    height: calc(100% - 1em - #{$margin * 4});
    width: calc(100% - #{$margin * 2});
    overflow: hidden;

    .menu {
      display: flex;
      flex-direction: row;
      margin-bottom: $margin;
      height: 1em + $margin * 2 + .1em;

      > * {
        margin-right: $margin * 2;
      }
    }
  }
}

.window[min-width~="600px"] {
  .windowBox {
    flex-direction: row;

    .menu {
      flex-direction: column;
      height: 100%;
      margin-right: $margin;
      width: 10em;
      overflow-y: auto;
      scrollbar-width: none;

      .list {
        margin-bottom: $margin * 2;

        ul {
          position: relative;
          box-shadow: none;
        }
      }

      .expanded {
        ul {
          border-top-right-radius: 0;
        }
      }
    }
  }
}

@keyframes reveal {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media (orientation: portrait), (orientation: landscape) and (max-width: 1023px) {
  .rnd {
    height: 100% !important;
    width: 100% !important;
  }
}
