@import "../../../../../common";

.List {
  box-sizing: border-box;
  overscroll-behavior-y: contain;

  header {
    user-select: none;
    padding: $padding;
    border: $border;
    border-radius: $border-radius;
    box-shadow: $shadow;
    background-color: $light-background-color;
    text-decoration: none;
  }

  ul {
    display: grid;
    grid-auto-rows: max-content;
    grid-template-columns: 100%;
    grid-gap: $margin;
    overflow-y: auto;
    height: 100%;
    scrollbar-width: none;
    box-sizing: border-box;
    overscroll-behavior-y: contain;
  }

  .dropdown {
    box-shadow: $shadow;
    background-color: $light-background-color;
    position: absolute;
    list-style: none;
    border: $border;
    border-radius: $border-radius;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    user-select: none;
    box-sizing: border-box;
    height: inherit;
    z-index: $dropdown-z-index;
  }

  .upper, .lower {
    border: none;
    background-color: transparent;
    box-shadow: none;
    opacity: .5;

    svg {
      max-width: $icon-size + .2em;
      max-height: $icon-size + .2em;
    }
  }

  .lower {
    float: right;
    position: sticky;
    bottom: $padding;
  }

  .upper {
    right: $padding;
    position: absolute;
    top: 1em + $padding * 3;
  }
}

.List.expanded {
  > header {
    border-color: $second-color !important;
    border-bottom-color: transparent !important;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  > .dropdown {
    border-top-left-radius: 0;
    border-color: $second-color;
  }
}
