@import "../../../../../common";

.List {
  box-sizing: border-box;
  overscroll-behavior-y: contain;

  header {
    user-select: none;
    padding: var(--padding);
    border: var(--border);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
    background-color: var(--light-background-color);
    text-decoration: none;
    display: grid;
    grid-gap: var(--padding);
    grid-auto-flow: column;
    justify-content: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    box-sizing: border-box;
  }

  ul {
    display: grid;
    grid-auto-rows: max-content;
    grid-template-columns: 100%;
    grid-gap: calc(var(--margin) * 2);
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    scrollbar-width: none;
    box-sizing: border-box;
    overscroll-behavior-y: contain;
  }

  .dropdown {
    box-shadow: var(--shadow);
    background-color: var(--light-background-color);
    position: absolute;
    list-style: none;
    border: var(--border);
    border-radius: var(--border-radius);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    user-select: none;
    box-sizing: border-box;
    height: inherit;
    z-index: var(--dropdown-z-index);
  }

  .upper, .lower {
    border: none;
    background-color: transparent;
    box-shadow: none;
    opacity: .5;

    svg {
      max-width: calc(var(--icon-size) + .2em);
      max-height: calc(var(--icon-size) + .2em);
    }
  }

  .lower {
    float: right;
    position: sticky;
    bottom: var(--padding);
  }

  .upper {
    right: var(--padding);
    position: absolute;
    top: calc(1em + var(--padding) * 3);
  }
}

.List.expanded {
  > header {
    border-color: var(--second-color) !important;
    border-bottom-color: transparent !important;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  > .dropdown {
    border-top-left-radius: 0;
    border-color: var(--second-color);
  }
}
