@import "../../../../../common";

.List {
  header {
    user-select: none;
    padding: $padding;
    border: $border;
    border-radius: $border-radius;
    box-shadow: $shadow;
    background-color: $light-background-color;
  }

  ul {
    z-index: 9;
    display: grid;
    grid-auto-rows: max-content;
    grid-template-columns: 100%;
    grid-gap: $margin;
    padding: 0 $padding;
    overflow-y: auto;
    height: 100%;
    scrollbar-width: none;
    box-sizing: border-box;

    li {
      word-wrap: break-word;
      padding: $padding 0;
    }
  }

  .dropdown {
    box-shadow: $shadow;
    background-color: $light-background-color;
    position: absolute;
    list-style: none;
    border: $border;
    border-radius: $border-radius;
    border-top-left-radius: 0;
    user-select: none;
    box-sizing: border-box;
    height: inherit;
  }
}

.List.expanded {
  header {
    border-color: $second-color;
    border-bottom-color: transparent;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  .dropdown {
    border-top-left-radius: 0;
    border-color: $second-color;
  }
}
