@import "../../../../../common";

.rnd {
  .Dialog {
    .identity {
      display: flex;
      align-items: center;

      > span {
        margin-right: $padding;
      }

      svg {
        max-height: $icon-size;
        max-width: $icon-size;
      }
    }

    .windowBox {
      display: flex;

      .content {
        overflow-y: auto;
        max-width: $max-width;

        form {
          display: grid;
          grid-gap: $padding * 2;
          padding: $padding;

          input, textarea {
            padding: $padding;
            border-radius: $border-radius;
          }
        }

        .buttons {
          display: grid;
          grid-auto-flow: column;
          grid-gap: $padding;
          position: sticky;
          bottom: 0;
        }
      }
    }

    .ImageUpload {
      img {
        max-width: 200px;
        max-height: 200px;
      }
    }
  }
}
