@import "../../../../../common";

.dialog {
  .inputs {
    display: flex;
    flex-direction: column;

    > * {
      margin-bottom: $margin * 2;
    }

    :first-child {
      margin-top: $margin;
    }

    input, textarea {
      padding: $padding;
      border-radius: $border-radius;
    }

    button {
      padding: $padding;
      background-color: $light-background-color;
      color: $second-color;
      border: $border;
    }
  }
}
