@import "../../../../../common";

.rnd {
  .Dialog {
    .windowBox {
      display: flex;

      .content {
        form {
          display: grid;
          grid-gap: $padding;

          input, textarea {
            padding: $padding;
            border-radius: $border-radius;
            max-width: $max-width;
          }
        }

        .buttons {
          display: grid;
          grid-auto-flow: column;
          grid-gap: $padding;
          position: sticky;
          bottom: 0;
        }
      }
    }
  }
}
