@import "../../../../../../common";

.NewsItem {
  padding: calc(var(--padding) * 2);
  padding-top: 0;

  p {
    max-width: var(--max-width);
  }

  .Image {
    max-width: 120px;
    margin-right: calc(var(--padding) * 2);
    float: left;
  }

  .Image.full {
    max-width: unset;
    margin-right: 0;
    float: unset;
  }

  .title {
    padding-top: calc(var(--padding) * 2);
  }

  .info {
    margin-top: var(--padding);
    font-size: .9em;

    svg {
      margin-left: var(--padding);
      max-height: var(--icon-size);
      max-width: var(--icon-size);
      vertical-align: text-top;
    }
  }

  .text {
    margin-top: calc(var(--margin) * 2);
  }

  .newsContent {
  }
}

.NewsItem.expanded {
  background-color: var(--selected);
  border-radius: var(--border-radius);
}
