@import "../../../../../../common";

.NewsItem {
  padding: 0 $padding * 2 $padding * 2 $padding * 2;

  p {
    max-width: $max-width;
  }

  .Image {
    max-width: 120px;
    margin-right: $padding * 2;
    float: left;
  }

  .Image.full {
    max-width: unset;
    margin-right: 0;
    float: unset;
  }

  .title {
    padding-top: $padding * 2;
  }

  .info {
    margin-top: $padding;
    font-size: .9em;

    svg {
      margin-left: $padding;
      max-height: $icon-size;
      max-width: $icon-size;
      vertical-align: text-top;
    }
  }

  .text {
    margin-top: $margin * 2;
  }

  .newsContent {
  }
}

.NewsItem.expanded {
  background-color: $selected;
  border-radius: $border-radius;
}
