@import "../../../../../../../common";

.MessageInfo {
  border-top: $dark-border;
  padding-top: $padding;
  padding-bottom: #{$padding * 2};
  color: $color;

  > * {
    margin-right: #{$padding * 2};
  }
}
