@import "../../../../../../../common";

.MessageInfo {
  border-top: var(--dark-border);
  padding-top: var(--padding);
  padding-bottom: calc(var(--padding) * 2);
  color: var(--color);

  > * {
    margin-right: calc(var(--padding) * 2);
  }
}
