@import "../../../../common";

.DocFileViewer {
  padding: var(--padding);
  word-break: break-word;

  .title, .info {
    margin-bottom: calc(var(--padding) * 2);
  }

  p, h1 {
    max-width: var(--max-width);
  }
}
