@import "../../../../../../common";

.SearchItem {
  position: sticky;
  top: 0;
  left: 0;
  background-color: inherit;
  z-index: 1;

  .Input {
    width: 100%;
  }

  .Button {
    position: absolute;
    right: $padding;
    top: $padding / 2;
    border: none;
    background-color: transparent;
    box-shadow: none;
    color: $background-color;

    svg {
      max-width: $icon-size - .2em;
      max-height: $icon-size - .2em;
      opacity: .75;
    }
  }
}
