@import "../../../../../../common";

.SearchItem {
  position: sticky;
  top: 0;
  left: 0;
  background-color: inherit;
  z-index: 1;

  .Input {
    width: 100%;
  }

  .Button {
    position: absolute;
    right: var(--padding);
    top: var(--padding);
    border: none;
    background-color: transparent;
    box-shadow: none;
    color: var(--background-color);

    svg {
      max-width: var(--icon-size) - .2em;
      max-height: var(--icon-size) - .2em;
      opacity: .5;
    }
  }
}
