@import "../../../../../common";

.OpenApps {
  display: grid;
  grid-auto-flow: column;
  grid-gap: $padding * 2;

  .apps {
    svg {
      max-width: $icon-size + .3em;
      max-height: $icon-size + .3em;
    }

    header {
      width: 1em + $padding;
    }

    > ul {
      padding: $padding * 2;
      grid-auto-flow: row;
      grid-template-columns: repeat(4, fit-content(100%));
      grid-gap: $padding * 2;
    }
  }

  .otherWindows {
    .dropdown {
      max-height: calc(100vh - #{2em + $padding});
      overflow-y: auto;
      scrollbar-width: none;
    }

    .Button {
      border: none;
      box-shadow: none;
    }
  }
}
