@import "../../../../../common";

.OpenApps {
  display: grid;
  grid-auto-flow: column;
  grid-gap: calc(var(--padding) * 2);

  .Button {
    border: none;
    box-shadow: none;
  }

  .apps {
    header {
      align-items: center;
    }

    > ul {
      padding: calc(var(--padding) * 2);
      grid-auto-flow: row;
      grid-template-columns: repeat(4, 1fr);
      grid-column-gap: calc(var(--padding) * 2);
      grid-row-gap: calc(var(--padding) * 4);
      justify-items: center;
      min-width: 20em;
      max-width: 30em;

      svg {
        max-width: calc(var(--icon-size) + .3em);
        max-height: calc(var(--icon-size) + .3em);
      }
    }

    .ListItem {
      display: grid;
      grid-auto-rows: fit-content(100%);
      grid-gap: var(--padding);
      justify-items: center;
      text-align: center;

      span {
        font-size: .9em;
      }
    }
  }
}
