@import "../../../../../common";

.OpenApps {
  > ul {
    grid-auto-flow: column;
    grid-template-columns: unset;
    grid-gap: $padding * 2;

    > .ListItem {
      padding: 0;
    }
  }

  .otherWindows {
    .dropdown {
      max-height: calc(100vh - #{2em + $padding});
      overflow-y: auto;
      scrollbar-width: none;
    }

    .Button {
      border: none;
      box-shadow: none;
    }
  }
}
