@import "../../../../../../common";

.ListItem {
  word-wrap: break-word;
  padding: $padding $padding;
  box-sizing: border-box;
  overflow-x: hidden;

  .spy, .lock {
    position: absolute;
    right: $padding;
    top: $padding;

    svg {
      opacity: .50;
      max-height: 1em;
      max-width: 1em;
    }
  }
}

.ListItem.clickable {
  text-decoration: none;
}

.ListItem.selected {
  background-color: $selected;
}
