@import "../../../../../../common";

.ListItem {
  word-break: break-word;
  padding: $padding $padding;
  box-sizing: border-box;

  .spy, .lock {
    position: absolute;
    right: $padding;
    top: $padding;

    svg {
      opacity: .50;
      max-height: 1em;
      max-width: 1em;
    }
  }

  .icon {
    height: $item-icon-size;
    width: $item-icon-size;
    max-width: $item-icon-size;
    max-height: $item-icon-size;

    svg {
      height: $item-icon-size;
      width: $item-icon-size;
      max-height: unset;
      max-width: unset;
      stroke-width: 2;
    }
  }
}

.ListItem.clickable {
  text-decoration: none;
}

.ListItem.selected {
  background-color: $selected;
}
