@import "../../../../../../common";

.Select {
  min-width: 7em;
  background-color: var(--input-background-color);
  color: var(--background-color);
  scrollbar-width: none;
  border: var(--border);
  width: 100%;
}
