@import "../../../../../../common";

.TransactionItem {
  display: grid;
  padding: calc(var(--padding) * 2);
  grid-gap: calc(var(--padding) * 2);
  border: var(--lite-border);
  margin-right: calc(var(--padding) * 2);
  border-radius: var(--border-radius);
  grid-template-rows: fit-content(100%) fit-content(100%) fit-content(100%);
  grid-template-columns: fit-content(100%) fit-content(100%);
  word-break: unset;

  svg {
    max-height: 1em;
    max-width: 1em;
  }

  p {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .other {
    grid-template-columns: fit-content(100%) fit-content(100%) auto;

    p:last-child {
      justify-self: flex-end;
    }
  }

  .other {
    grid-row: 1;
    grid-column: 1 / 4;
  }

  .note {
    grid-row: 2;
  }

  .current {
    grid-row: 3;
    grid-template-columns: max-content auto auto;
  }

  .other, .current {
    display: grid;
    grid-auto-flow: column;
    grid-gap: calc(var(--padding) * 2);
  }

  .amount {
    font-size: 1.3em;
    grid-column: 3;
    grid-row: 2 / 4;
    justify-self: flex-end;
    align-self: flex-end;
  }

  .negative {
    color: var(--color);
  }

  .time {
    span:last-child {
      margin-left: calc(var(--padding) * 2);
    }
  }
}

.TransactionItem.sender {
  border: var(--border);
  margin-right: 0;
  margin-left: calc(var(--padding) * 2);
}
