@import "../../../../common";

.Dashboard {
  color: var(--second-color);
  padding: var(--padding);
  display: grid;
  grid-gap: calc(var(--padding) * 2);
  height: calc(100% - var(--padding) * 2);
  grid-auto-rows: fit-content(100%);
  grid-template-columns: fit-content(var(--max-width));

  .news {
    overflow-y: auto;

    svg {
      margin-left: calc(var(--padding) * 2);
      max-width: calc(var(--icon-size) - .2em);
      max-height: calc(var(--icon-size) - .2em);
      vertical-align: bottom;
      float: right;
    }

    header {
      height: unset;
      background-color: var(--background-color);
      border-bottom: var(--lite-border);
      position: sticky;
      top: 0;
      box-shadow: var(--second-shadow);
    }

    ul {
      border-left: var(--lite-border);
      border-bottom: var(--lite-border);
      border-right: var(--lite-border);
      height: unset;
      overflow: hidden;
      background-color: var(--light-background-color);
    }
  }

  .nav {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: fit-content(100%);
    grid-gap: calc(var(--padding) * 2);

    .Clock {
      .icon {
        border: var(--border);
        border-radius: var(--border-radius);
      }

      .time {
        right: unset;
        border: var(--border);
      }
    }
  }
}
