@import "../../../../common";

.Dashboard {
  color: $second-color;
  padding: $padding;
  display: grid;
  grid-gap: $padding * 2;
  height: calc(100% - #{$padding * 2});
  grid-auto-rows: fit-content(100%);
  grid-template-columns: fit-content(#{$max-width});

  .news {
    overflow-y: auto;

    svg {
      margin-left: $padding * 2;
      max-width: $icon-size - .2em;
      max-height: $icon-size - .2em;
      vertical-align: bottom;
      float: right;
    }

    header {
      height: unset;
      background-color: $background-color;
      border-bottom: $lite-border;
      position: sticky;
      top: 0;
      box-shadow: $second-shadow;
    }

    ul {
      border-left: $lite-border;
      border-bottom: $lite-border;
      border-right: $lite-border;
      height: unset;
      overflow: hidden;
      background-color: $light-background-color;
    }
  }

  .nav {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: fit-content(100%);
    grid-gap: $padding * 2;

    .Clock {
      .icon {
        border: $border;
        border-radius: $border-radius;
      }

      .time {
        right: unset;
        border: $border;
      }
    }
  }
}
