@import "../../../../common";

.rooms {
  > ul {
    grid-gap: 0;
  }

  .ListItem {
    header {
      margin-bottom: calc(var(--padding) * 2);
      background-color: var(--light-background-color);
      position: sticky;
      top: 0;
      z-index: 1;
    }
  }
}
