@import '../../../../../common';

.InputArea {
  display: grid;
  grid-template-rows: fit-content(100%) auto;
  position: sticky;
  bottom: 0;
  background-color: $second-background-color;
  min-height: calc(#{1.55em + $padding * 2});
  margin-top: $padding;
  padding-bottom: $padding / 2;

  .input {
    display: flex;
    width: 100%;
    max-width: $max-width;
    overflow: visible;

    .Textarea {
      flex-grow: 1;

      textarea {
        border-bottom: none;
        box-shadow: $shadow;
        background-color: $light-background-color;
        color: $second-color;
        padding: $padding;
        flex-grow: 1;
        border-radius: 0;
        box-sizing: border-box;
        scrollbar-width: none;
        min-height: 100%;
        width: 100%;
      }
    }

    .ImageUpload {
      display: grid;
      position: relative;

      .Button {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        border-right: none;
        border-bottom: none;
      }

      .previewImage {
        position: absolute;
        max-height: 120px;
        max-width: 120px;
        bottom: 100%;
        border: $border;
      }
    }

    > .Button:last-child {
      border-left: 0;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      border-bottom: 0;
      z-index: 2;

      svg {
        stroke-width: 2;
      }
    }
  }
}
