@import '../../../../../common';

.InputArea {
  position: sticky;
  bottom: 0;
  background-color: $second-background-color;
  min-height: calc(#{3em + $padding * 2} + 1px);
  margin-top: $padding;

  .buttonBox {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: fit-content(0);
    grid-gap: $padding;

    .Button, header {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
      border-bottom: none;
      vertical-align: bottom;
    }

    .IdentityPicker {
      position: relative;

      ul {
        bottom: 1em + $margin * 2;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-top-left-radius: $border-radius;
        max-height: 5em;
      }
    }
  }

  .input {
    display: flex;
    width: 100%;
    max-width: $max-width;
    overflow: visible;

    textarea {
      box-shadow: $shadow;
      background-color: $light-background-color;
      color: $second-color;
      border: $border;
      padding: $padding;
      flex-grow: 1;
      border-radius: $border-radius;
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
      border-top-left-radius: 0;
      box-sizing: border-box;
      scrollbar-width: none;
      min-height: 2em;
    }

    .Button {
      border-left: 0;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}
