$color: #ff00e9;
$second-color: #00f6ff;
$background-color: #13002d;
$modal-color: rgba(19, 0, 45, 0.65);
$border: 1px solid $color;
$second-border: 1px solid $background-color;
$lite-border: 1px solid $second-color;
$second-background-color: #25004b;
$light-background-color: #370087;
$margin: .2em;
$padding: $margin;
$min-width: 320px;
$min-width-calc: calc(#{$min-width} - #{$margin * 2});
$shadow: 0 0 8px 0 rgba(255, 0, 241, 0.54);
$second-shadow: 0 0 8px 0 rgba(0, 246, 255, 0.54);
$shadow-upwards: 1px -4px 8px 0 rgba(255, 0, 241, 0.15);
$dark-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.71);
$text-shadow: 1px 1px 4px rgba(255, 0, 241, 0.54);
$border-radius: 3px;
$menu-bar-height: 1em + $margin * 4 + .3em;
$warning-background-color: #7c0000;
$warning-border: 1px solid #df0000;
$warning-shadow: 0 0 8px 0 rgba(124, 0, 0, 1);
$warning-text-shadow: 0px 0px 4px rgb(0, 0, 0);
$max-width: 80ch;
$dropdown-z-index: 22;
$dialog-z-index: 20;
$menu-bar-z-index: 21;
$icon-size: 1.1em;
$selected: rgba(0, 246, 255, 0.20);
