@import "common";

html, body, div, span, p, a, img, ul, li, video, textarea, button, input, fieldset {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

html, body {
  font-family: monospace;
  width: 100%;
  height: 100%;
  background-color: $background-color;
  font-size: 1.1em;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  overflow: hidden;
  touch-action: manipulation;
}

ul {
  list-style: none;
}

h1 {
  font-size: 1.1em;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

::-webkit-scrollbar {
  display: none;
}

.clickable, .Button {
  cursor: pointer;
}

.clickable {
  text-decoration: underline;
}

.hide {
  display: none !important;
}
