@import "common";

:root {
  --color: #ff00e9;
  --dark-color: #4b0044;
  --second-color: #00f6ff;
  --faded-color: grey;
  --background-color: #13002d;
  --modal-color: rgba(19, 0, 45, 0.76);
  --border: 1px solid var(--color);
  --dark-border: 1px solid var(--dark-color);
  --second-border: 1px solid var(--background-color);
  --lite-border: 1px solid var(--second-color);
  --second-background-color: #25004b;
  --light-background-color: #370087;
  --input-background-color: #a2fffd;
  --input-color: #13002d;
  --padding: .2em;
  --padding-thick: calc(var(--padding) * 2);
  --padding-thicker: calc(var(--padding) * 4);
  --active-shadow: 0 0 10px 0 rgba(255, 255, 255, 1);
  --shadow: 0 0 10px 0 rgba(255, 0, 241, 0.54);
  --second-shadow: 0 0 8px 0 rgba(0, 246, 255, 0.54);
  --shadow-upwards: 1px -4px 8px 0 rgba(255, 0, 241, 0.15);
  --dark-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.71);
  --text-shadow: 1px 1px 4px rgba(255, 0, 241, 0.54);
  --border-radius: 3px;
  --menu-bar-height: 2em;
  --warning-background-color: #7c0000;
  --warning-border: 1px solid #df0000;
  --warning-shadow: 0 0 8px 0 rgba(124, 0, 0, 1);
  --warning-text-shadow: 0px 0px 4px rgb(0, 0, 0);
  --dark-text-shadow: 0px 0px 4px rgb(0, 0, 0);
  --icon-size: 1.2em;
  --selected: rgba(0, 246, 255, 0.20);
  --item-icon-size: 30px;

  --dropdown-z-index: 22;
  --dialog-z-index: 20;
  --menu-bar-z-index: 21;
  --min-width: 320px;
  --max-width: 80ch;
}

.cyber1 {
  --color: #811481;
  --dark-color: #4b0044;
  --second-color: #cf9a03;
  --faded-color: grey;
  --background-color: #100310;
  --modal-color: rgba(19, 0, 45, 0.76);
  --border: 1px solid var(--color);
  --dark-border: 1px solid var(--dark-color);
  --second-border: 1px solid var(--background-color);
  --lite-border: 1px solid var(--second-color);
  --second-background-color: #25004b;
  --light-background-color: #220622;
  --input-background-color: #a2fffd;
  --input-color: #13002d;
  --min-width: 320px;
  --shadow: 0 0 4px 0 rgb(128, 94, 0);
  --second-shadow: 0 0 8px 0 rgba(0, 246, 255, 0.54);
  --shadow-upwards: 1px -4px 8px 0 rgba(255, 0, 241, 0.15);
  --dark-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.71);
  --text-shadow: 1px 1px 4px rgba(141, 1, 134, 0.54);
  --border-radius: 3px;
  --menu-bar-height: 2em;
  --warning-background-color: #7c0000;
  --warning-border: 1px solid #df0000;
  --warning-shadow: 0 0 8px 0 rgba(124, 0, 0, 1);
  --warning-text-shadow: 0px 0px 4px rgb(0, 0, 0);
  --dark-text-shadow: 0px 0px 4px rgb(0, 0, 0);
  --dropdown-z-index: 22;
  --dialog-z-index: 20;
  --menu-bar-z-index: 21;
  --icon-size: 1.2em;
  --selected: rgba(0, 246, 255, 0.20);
  --item-icon-size: 30px;
}

html, body, div, span, p, a, img, ul, li, video, textarea, button, input, fieldset {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

html, body {
  font-family: monospace;
  width: 100%;
  height: 100%;
  color: var(--color);
  background-color: var(--background-color);
  font-size: 1.1em;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  scrollbar-width: none;
  overflow: hidden;
  touch-action: manipulation;
}

ul {
  list-style: none;
}

h1 {
  font-size: 1.1em;
  margin: 0;
  padding: 0;
}

svg {
  max-width: var(--icon-size);
  max-height: var(--icon-size);
  vertical-align: middle;
  stroke-width: 3;
}

form {
  display: contents;
}

#root {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

::-webkit-scrollbar {
  display: none;
}

.clickable, .Button {
  cursor: pointer;
}

.clickable {
  text-decoration: underline;
}

.hide {
  display: none !important;
}

.error {
  background-color: var(--warning-background-color);
  padding: var(--padding);
  position: sticky;
  top: 0;
  border: var(--warning-border);
  box-shadow: var(--warning-shadow);
  text-shadow: var(--warning-text-shadow);
}

.helpOverlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  margin: 0;
  padding: var(--padding);
  background-color: var(--modal-color);
  color: white;
  overflow-y: auto;
  box-sizing: border-box;
  scrollbar-width: none;

  span, p {
    text-shadow: var(--dark-text-shadow);
  }

  svg {
    filter: drop-shadow(var(--dark-text-shadow));
  }

  ul {
    display: grid;
    grid-auto-flow: row;
    grid-gap: calc(var(--padding) * 3);
    max-width: var(--max-width);

    li {
      p {
        margin-bottom: var(--padding);
      }

      > * {
        margin-right: var(--padding);
      }
    }
  }
}

.helpButton {
  border-color: transparent;
  background-color: transparent;
  box-shadow: none;
  padding: var(--padding);
}

.helpButton.active {
  border-color: var(--second-color);
}

.right {
  right: 0;
}

.bottom {
  bottom: 0;
}

.faded {
  opacity: .5;
}

//@media (orientation: landscape) {
//  #root {
//    flex-direction: row;
//  }
//}
