@import "common";

html, body, div, span, p, a, img, ul, li, video, textarea, button, input, fieldset {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

html, body {
  font-family: monospace;
  width: 100%;
  height: 100%;
  color: $color;
  background-color: $background-color;
  font-size: 1.1em;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  scrollbar-width: none;
  overflow: hidden;
  touch-action: manipulation;
}

ul {
  list-style: none;
}

h1 {
  font-size: 1.1em;
  margin: 0;
  padding: 0;
}

svg {
  max-width: $icon-size;
  max-height: $icon-size;
  vertical-align: middle;
}

#root {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

::-webkit-scrollbar {
  display: none;
}

.clickable, .Button {
  cursor: pointer;
}

.clickable {
  text-decoration: underline;
}

.hide {
  display: none !important;
}

.error {
  background-color: $warning-background-color;
  padding: $padding;
  position: sticky;
  top: 0;
  border: $warning-border;
  box-shadow: $warning-shadow;
  text-shadow: $warning-text-shadow;
}

.helpOverlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  margin: 0;
  padding: $padding;
  background-color: $modal-color;
  color: white;
  overflow-y: auto;
  box-sizing: border-box;
  scrollbar-width: none;

  span, p {
    text-shadow: $dark-text-shadow;
  }

  svg {
    filter: drop-shadow($dark-text-shadow);
  }

  ul {
    display: grid;
    grid-auto-flow: row;
    grid-gap: $padding * 3;
    max-width: $max-width;

    li {
      p {
        margin-bottom: $padding;
      }

      > * {
        margin-right: $padding;
      }
    }
  }
}

.helpButton {
  border-color: transparent;
  background-color: transparent;
  box-shadow: none;
  padding: $padding;
}

.helpButton.active {
  border-color: $second-color;
}

.right {
  right: 0;
}

.bottom {
  bottom: 0;
}

//@media (orientation: landscape) {
//  #root {
//    flex-direction: row;
//  }
//}
