@import "common";

html, body, div, span, p, a, img, ul, li, video, textarea, button, input, fieldset {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html, body {
  font-family: monospace;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: $background-color;
  font-size: 1.2em;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
}

#root {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

::-webkit-scrollbar {
  display: none;
}

.hide {
  display: none !important;
}
