@import "../../../common";

.DocFileViewer {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--second-background-color);
  padding: var(--padding) * 3;
}
