@import "../../../../../common";

.Image {
  position: relative;
  display: inline-block;

  div {
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 0;
    padding-top: 0;
    border: 0;
    box-shadow: none;
    background-color: $second-background-color;
    text-decoration: none;

    svg {
      max-width: $icon-size;
      max-height: $icon-size;
      vertical-align: middle;
    }
  }

  img {
    max-height: inherit;
    max-width: inherit;
    object-fit: contain;
  }
}

.Image.full {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $modal-color;
  display: grid;
  justify-items: center;
  align-items: center;
  z-index: $dialog-z-index;

  img {
    max-height: 100%;
    max-width: 100%;
  }
}
