@import "../../../../../common";

.Clock {
  .icon {
    border-bottom: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  .time {
    border-top-left-radius: 0;
    position: absolute;
    right: 0;
  }
}
